In [159]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [160]:
df = pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [161]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [162]:
ham_spam_dummies = pd.get_dummies(df['Category'])

updated_df = pd.concat([df, ham_spam_dummies], axis='columns')

df = updated_df.drop(columns=['Category', 'ham'])

df.head()

                                             Message  spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

In [163]:
train_x, test_x, train_y, test_y = train_test_split(df['Message'], df['spam'], test_size=.25)

train_x.head()

4162    Had your mobile 11 months or more? U R entitle...
4315    Is ur changes 2 da report big? Cos i've alread...
522                            Shall i come to get pickle
3364                                   Can... I'm free...
3262    Yup i'm still having coffee wif my frens... My...
Name: Message, dtype: object

In [164]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(train_x.values)
x_train_count.toarray()[:3]
print(len(x_train_count.toarray()[0]))

7425

In [165]:
from sklearn.naive_bayes import MultinomialNB

spam_model = MultinomialNB()
spam_model.fit(x_train_count, train_y)

spam_model

MultinomialNB()

In [166]:
emails = ['Hey mohan, can we get together to watch footbal game tomorrow?', 'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!']
emails_count = v.transform(emails)
emails_count.toarray()[:2]
print(len(emails_count.toarray()[0]))


spam_model.predict(emails_count)

7425

array([0, 1], dtype=uint8)

In [167]:
test_arr = v.transform(test_x)

spam_model.score(test_arr, test_y)

0.9813352476669059

In [168]:
from sklearn.pipeline import Pipeline

pipe = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [169]:
pipe.fit(train_x, train_y)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [170]:
pipe.predict(test_x)

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [171]:
pipe.score(test_x, test_y)

0.9813352476669059