In [1]:
import pandas as pd
import numpy as np

In [31]:
players_df = pd.read_csv('all_seasons.csv', index_col=0, encoding="ISO-8859-1")
player_info_df = pd.read_csv('NBA_Player_IDs.csv', encoding="ISO-8859-1")

print(players_df.columns)

players_df[players_df['player_name'].str.startswith('Dwa')]

concatted_player_info = pd.concat([player_info_df['NBAName'], players_df['player_name']], axis='columns')

concatted_player_info

concatted_player_info.head()

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'college', 'country', 'draft_year', 'draft_round',
       'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating', 'oreb_pct',
       'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

        NBAName        player_name
0    AJ Hammons      Dennis Rodman
1      AJ Price  Dwayne Schintzius
2  Aaron Brooks       Earl Cureton
3  Aaron Gordon        Ed O'Bannon
4    Aaron Gray        Ed Pinckney