In [70]:
import pandas as pd

In [71]:
housing_data = pd.read_csv('./melb_data.csv')

housing_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [72]:
housing_data.describe()['Landsize']['mean']

558.4161266568483

In [73]:
housing_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [74]:
y = housing_data['Price']

In [75]:
features = housing_data[['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']]

features.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

In [76]:
features.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [77]:
from sklearn.tree import DecisionTreeRegressor

In [78]:
melbourne_model = DecisionTreeRegressor(random_state=1)

melbourne_model.fit(features, y)

DecisionTreeRegressor(random_state=1)

In [79]:
features.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

In [80]:
melbourne_model.predict(features.head())

array([1480000., 1035000., 1465000.,  850000., 1600000.])

In [81]:
y.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

In [82]:
from sklearn.metrics import mean_absolute_error

In [83]:
predicted_values = melbourne_model.predict(features.head())
mean_absolute_error(y.head(), predicted_values)

0.0

We will create a new model that is trained with a %age of the training data, rather then the entire training dataset. This will ensure that our model's performance is measured correctly. This will avoid "in-sample" scores, which is when a pattern is present within the training data, and then we validate it's performance with a dataset either directly from the training data, or a dataset with a similar pattern, avoiding introducing new data into the model, which will give us incorrect performance results. In order to avoid this issue, we will split up the dataset into training data, validation data (which is used to measure performance), which will ensure that we don't run into the "in-sample" issue of false prediction scores. We will be using MAE to analyze the performance, once we have trained the model properly.

In [84]:
from sklearn.model_selection import train_test_split

train_x, val_x, train_y, val_y = train_test_split(features, y, random_state=1)

In [85]:
melbourne_model_v2 = DecisionTreeRegressor(random_state=0)

In [86]:
melbourne_model_v2.fit(train_x, train_y)

DecisionTreeRegressor(random_state=0)

In [87]:
melbourne_model_v2.predict(val_x)

array([2905000.,  733000., 2810000., ..., 1381500., 1260000.,  493000.])

In [88]:
from sklearn.metrics import mean_squared_error

In [89]:
mean_squared_error(val_y, melbourne_model_v2.predict(val_x))

178820445562.4051